# Dependencies
node_modules
.pnpm-store

# Build
dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Other
.env
.DS_Store

# Prisma
packages/server/prisma/dev.db
